*{
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
#top-section{
  min-height: 500px;
  background-image: url(images/donation6.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center;
  
}
.image-title{
  text-align: center;
  color: #ffffff;
  padding-top: 200px;
}

.image-title h1{
  font-size:40px;
  font-weight: 800;
}
.image-title p{
  margin-bottom: 30px;
}
.button-title{
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient(#7575d3c2, #9494e6 );
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
}
.container{
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.donate-today{
  margin-top:60px;
}

.donate-today p{
  margin-top: 20px;
}
.donate-amount{
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
}
.other-amount{
  border: none;
  margin-bottom: 15px;
}

.light-grey{
  background-color: #e1e1e45d;
  padding: 30px;
  margin-left: 15px;
  border-radius: 5px;
  font-weight: 800;
}
.red{
  border:2px solid #f51616;
  color:#f51616;
  font-weight: 800;
  background-color: #e2868659;
  padding: 30px;
  margin-left: 15px;
  border-radius: 5px;
}
#donate-now{
  margin-top: 30px;
  margin-bottom: 30px;
}
#donate-today{
  margin-bottom: 100px;
}
/*new updated code*/
.container-plan{
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.total-common{
  display: flex;
}
.total-together{
  margin: 0 15px;
  padding-top: 40px;
}
.total-common img{
  display: inline-block;
  width: 50px;
  margin-bottom: 20px;
  padding-top: 50px;
}
.container-total{
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.donation-plan {
  width: 500px;
  height: 300px;
  justify-content: center;
  margin-left: 30px;
  padding: 10px;
}
.donation-plan img {
  width: 50px;
  margin-bottom: 20px;
  padding-top: 50px;
}
.donation-plan p{
  margin-top: 15px;
}
.total-number{
  margin-top: 60px;
  width: 100%;
  height: 200px;
  background-color: lightcoral;
}
footer {
  position: relative;
  bottom: 0;
  height: 60px;
  background: #000000;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

footer p{
  padding-top: 20px;
}
.email {
  display: inline-block;
  border: none;
  background-color: #c2e9e6e3;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.subscribe {
  display: inline-block;
  margin: -4px;
  padding: 0;
  border: none;
  background-color: orange;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.get-update {
  background-color: blanchedalmond;
  width: 600px;
  height: 150px;
  margin: auto;
  text-align: center;
  padding-top: 55px;
  box-sizing: border-box;
  margin-top: 30px;
}
#food {
  background-color: antiquewhite;
}

#shelter {
  background-color: aliceblue;
}
#education {
  background-color: darkkhaki;
}
#subscribe{
  margin-bottom: 30px;
}
form {
  display: inline-block;
}