*{
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
#top-section{
  min-height: 500px;
  background-image: url(images/donation6.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center;
  
}
.image-title{
  text-align: center;
  color: #ffffff;
  padding-top: 200px;
}

.image-title h1{
  font-size:40px;
  font-weight: 800;
}
.image-title p{
  margin-bottom: 30px;
}
.button-title{
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient(#7575d3c2, #9494e6 );
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
}
.container{
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.donate-today{
  margin-top:60px;
}

.donate-today p{
  margin-top: 20px;
}
.donate-amount{
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
}
.other-amount{
  border: none;
}

.light-grey{
  background-color: #e1e1e45d;
  padding: 30px;
  margin-left: 15px;
  border-radius: 5px;
  font-weight: 800;
}
.red{
  border:2px solid #f51616;
  color:#f51616;
  font-weight: 800;
  background-color: #e2868659;
  padding: 30px;
  margin-left: 15px;
  border-radius: 5px;
}
#donate-now{
  margin-top: 30px;
  margin-bottom: 30px;
}